In [1]:
%load_ext bigdata
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 9.689 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.788 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.914 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.009 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.073 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.734 seconds

In [3]:
%%hive
SELECT c2, sum(val)
FROM tbl0
LATERAL VIEW EXPLODE(c6) b as key,val
GROUP BY c2;

SELECT c2, sum(val)
FROM tbl0
LATERAL VIEW EXPLODE(c6) b as key,val
GROUP BY c2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200110191507_8c69fed1-9d82-4ed6-9c16-d1b7db5e6dc1
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578683522537_0001, Tracking URL = http://1c2526b1a65e:8088/proxy/application_1578683522537_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578683522537_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-10 19:15:21,023 Stage-1 map = 0%,  reduce = 0%
2020-01-10 19:15:27,736 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.68 sec
2020-01-10 19:15:35,467 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.19 sec
MapReduce Total cumulative CPU time: 5 seconds 190 msec
Ended Job = job_1578683522537_0001
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.19 sec   HDFS Read: 12596 HDFS Write: 158 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 190 msec
OK
A	20
B	200
C	130
D	220
Time taken: 30.342 seconds, Fetched: 4 row(s)

In [19]:
%%hive
SELECT val FROM (SELECT EXPLODE(c6) AS (key,val) FROM tbl0) tbl0;

SELECT val FROM (SELECT EXPLODE(c6) AS (key,val) FROM tbl0) tbl0;
OK
10
20
40
40
20
10
10
40
40
20
10
30
10
20
20
20
10
20
40
10
30
20
10
40
30
Time taken: 0.141 seconds, Fetched: 25 row(s)

In [38]:
%%hive
SELECT c2, collect_list(val)
FROM tbl0
LATERAL VIEW explode(c6) e1 as key,val  
GROUP BY c2;

SELECT c2, collect_list(val)
FROM tbl0
LATERAL VIEW explode(c6) e1 as key,val
GROUP BY c2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200109233235_1cb8cca6-b799-4af3-a738-6dbbf1d95059
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578597294796_0028, Tracking URL = http://508e70f76d54:8088/proxy/application_1578597294796_0028/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578597294796_0028
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-09 23:32:43,460 Stage-1 map = 0%,  reduce = 0%
2020-01-09 23:32:47,745 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.48 sec
2020-01-09 23:32:54,215 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.16 sec
MapReduce Total cumulative CPU time: 3 seconds 160 msec
Ended Job = job_1578597294796_0028
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.16 sec   HDFS Read: 12698 HDFS Write: 218 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 160 msec
OK
A	[20]
B	[20,40,10,30,20,10,40,30]
C	[40,20,10,10,20,10,20]
D	[10,20,40,10,40,40,20,10,30]
Time taken: 20.301 seconds, Fetched: 4 row(s)

In [4]:
%hive_quit

In [1]:
!hive -S -e "source question.hql"

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]