In [1]:
%load_ext bigdata

In [6]:
%hive_start

In [2]:
%timeout 300

In [3]:
%%hive
DROP TABLE IF EXISTS tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 9.348 seconds

In [4]:
%%hive
CREATE TABLE tbl0 (c1 INT,c2 STRING,c3 INT,c4 DATE,c5 ARRAY<CHAR(1)>,c6 MAP<STRING, INT>)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

P<STRING, INT>)l0 (c1 INT,c2 STRING,c3 INT,c4 DATE,c5 ARRAY<CHAR(1)>,c6 MA
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.743 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.843 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.015 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.081 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.86 seconds

In [13]:
%%hive
SELECT DISTINCT letra
FROM (
    SELECT EXPLODE(c5)
    FROM tbl0
    AS letra);

SELECT DISTINCT letra
FROM (
    SELECT EXPLODE(c5)
    FROM tbl0
    AS letra);
NoViableAltException(256@[])
	at org.apache.hadoop.hive.ql.parse.HiveParser_FromClauseParser.atomjoinSource(HiveParser_FromClauseParser.java:2265)
	at org.apache.hadoop.hive.ql.parse.HiveParser_FromClauseParser.joinSource(HiveParser_FromClauseParser.java:2475)
	at org.apache.hadoop.hive.ql.parse.HiveParser_FromClauseParser.fromSource(HiveParser_FromClauseParser.java:1690)
	at org.apache.hadoop.hive.ql.parse.HiveParser_FromClauseParser.fromClause(HiveParser_FromClauseParser.java:1312)
	at org.apache.hadoop.hive.ql.parse.HiveParser.fromClause(HiveParser.java:42074)
	at org.apache.hadoop.hive.ql.parse.HiveParser.atomSelectStatement(HiveParser.java:36735)
	at org.apache.hadoop.hive.ql.parse.HiveParser.selectStatement(HiveParser.java:36987)
	at org.apache.hadoop.hive.ql.parse.HiveParser.regularBody(HiveParser.java:36633)
	at org.apache.hadoop.hive.ql.parse.HiveParser.queryStatementExpressionBody(HiveParser.java:35822)
	at org.apache.hadoop.hive.ql.parse.HiveParser.queryStatementExpression(HiveParser.java:35710)
	at org.apache.hadoop.hive.ql.parse.HiveParser.execStatement(HiveParser.java:2284)
	at org.apache.hadoop.hive.ql.parse.HiveParser.statement(HiveParser.java:1333)
	at org.apache.hadoop.hive.ql.parse.ParseDriver.parse(ParseDriver.java:208)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:77)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:70)
	at org.apache.hadoop.hive.ql.Driver.compile(Driver.java:468)
	at org.apache.hadoop.hive.ql.Driver.compileInternal(Driver.java:1317)
	at org.apache.hadoop.hive.ql.Driver.runInternal(Driver.java:1457)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1237)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1227)
	at org.apache.hadoop.hive.cli.CliDriver.processLocalCmd(CliDriver.java:233)
	at org.apache.hadoop.hive.cli.CliDriver.processCmd(CliDriver.java:184)
	at org.apache.hadoop.hive.cli.CliDriver.processLine(CliDriver.java:403)
	at org.apache.hadoop.hive.cli.CliDriver.executeDriver(CliDriver.java:821)
	at org.apache.hadoop.hive.cli.CliDriver.run(CliDriver.java:759)
	at org.apache.hadoop.hive.cli.CliDriver.main(CliDriver.java:686)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.util.RunJar.run(RunJar.java:239)
	at org.apache.hadoop.util.RunJar.main(RunJar.java:153)
FAILED: ParseException line 3:4 cannot recognize input near '(' 'SELECT' 'EXPLODE' in joinSource

In [23]:
%%hive
SELECT DISTINCT tabla.letras FROM (SELECT EXPLODE(c5) AS letras FROM tbl0) AS tabla;

 AS tabla;TINCT tabla.letras FROM (SELECT EXPLODE(c5) AS letras FROM tbl0)
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200109201847_a61df061-cd2b-4393-86fd-3395d43e63ca
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578597294796_0006, Tracking URL = http://508e70f76d54:8088/proxy/application_1578597294796_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578597294796_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-09 20:18:55,962 Stage-1 map = 0%,  reduce = 0%
2020-01-09 20:19:00,251 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.46 sec
2020-01-09 20:19:06,685 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.05 sec
MapReduce Total cumulative CPU time: 3 seconds 50 msec
Ended Job = job_1578597294796_0006
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.05 sec   HDFS Read: 9388 HDFS Write: 157 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 50 msec
OK
a
b
c
d
e
Time taken: 19.98 seconds, Fetched: 5 row(s)

In [30]:
%%hive
DROP TABLE IF EXISTS tbl0_letras;
CREATE TABLE tbl0_letras AS (SELECT DISTINCT tabla.letras FROM (SELECT EXPLODE(c5) AS letras FROM tbl0) AS tabla)
ORDER BY letras;

DROP TABLE IF EXISTS tbl0_letras;
OK
Time taken: 0.087 seconds
LODE(c5) AS letras FROM tbl0) AS tabla)TINCT tabla.letras FROM (SELECT EXP
ORDER BY letras;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200109203224_e09d0e38-b2f8-4e01-b51f-5bf1b9a09aa8
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578597294796_0009, Tracking URL = http://508e70f76d54:8088/proxy/application_1578597294796_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578597294796_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-09 20:32:34,623 Stage-1 map = 0%,  reduce = 0%
2020-01-09 20:32:39,944 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.43 sec
2020-01-09 20:32:45,276 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.71 sec
MapReduce Total cumulative CPU time: 2 seconds 710 msec
Ended Job = job_1578597294796_0009
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578597294796_0010, Tracking URL = http://508e70f76d54:8088/proxy/application_1578597294796_0010/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578597294796_0010
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-01-09 20:32:57,716 Stage-2 map = 0%,  reduce = 0%
2020-01-09 20:33:02,049 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.1 sec
2020-01-09 20:33:07,400 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 2.54 sec
MapReduce Total cumulative CPU time: 2 seconds 540 msec
Ended Job = job_1578597294796_0010
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/tbl0_letras
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.71 sec   HDFS Read: 8581 HDFS Write: 191 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 2.54 sec   HDFS Read: 4757 HDFS Write: 85 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 250 msec
OK
Time taken: 44.58 seconds

In [31]:
%%hive
SELECT * 
FROM tbl0_letras;

SELECT *
FROM tbl0_letras;
OK
a
b
c
d
e
Time taken: 0.108 seconds, Fetched: 5 row(s)

In [32]:
%hive_quit

In [2]:
!hive -S -e "source question.hql"

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]